body {
  background-color: #d3d3d3; /* Vaalea harmaa tausta */
}

}
#nasa-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}

#image-title {
  text-align: center;
  font-size: 2rem;
  font-style: italic;
}

/* Fontit ja värit */
h1, h5 {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
}

#nasa-title {
  color: #007bff;
  font-family: Georgia
}

#image-title {
  font-style: italic;
  color: #333; /* Tummempi väri */
}

.custom-background {
  background: url('space1.jpg') no-repeat center center/cover;
}
